{{> booksNav}}

<h2>books:</h2>

<ul class="cards">
  {{#each books}}
  <li class="card">
    <div class="book">
      <span class="title">{{books.name}}</span>
      <h3 class="author">{{books.author}}</h3>
      <p class="data">{{books.description}}</p>
      {{!-- <a href="/books/{{id}}/edit">edit book</a> --}}
      <span class="title">{{name}}</span>
      <h3 class="author">{{author}}</h3>
      <a href="/books/{{id}}/edit">edit book</a>
    </div>
  </li>
  {{/each}}
</ul>
