

<h2>board games:</h2>

<ul class="cards">
  {{#each game}}
  <li class="card">
    <div class="game">
      <img src="images/icons/game-{{name}}.jpg" alt="{{name}}">
      <span class="title">{{name}}</span>
      <p class="difficulty">{{difficult}}</p>
      {{!-- <a href="/books/{{id}}/edit">edit book</a> --}}
    </div>
  </li>
  {{/each}}
</ul>
