<h2>{{name}}</h2>



    <div class="book">
      <span class="title">{{name}}</span>
      <h3 class="difficulty">{{difficult}}</h3>
      <img src="#" alt="image of book cover for {{name}}">
      <a href='/show-game/{{id}}'>MORE DETAILS</a>
    </div>